/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --contour-color: black;
    --main-body-color: #ff0000;
    --core-color: white;
    --sparks-color: #ff0000;
}