/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: "Inter", sans-serif;
  max-inline-size: 1440px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: grid;
  margin: 0 20px;
  gap: 100px;
  justify-content: center;
}



.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  background-image: repeating-linear-gradient(
      to bottom,
      #d3d3d3 0,
      #d3d3d3 2px,
      #d3d3d300 2px,
      #d3d3d300 4px
    ),
    repeating-linear-gradient(
      to left,
      #d3d3d3 0,
      #d3d3d3 2px,
      #d3d3d300 2px,
      #d3d3d300 4px
    ),
    linear-gradient(#e7e7e7 0%, #1a1a1a 100%);
}

.header {
  font-family: "Press Start 2P", sans-serif;
  min-block-size: 368px;
  margin-top: 100px;
  outline: 2px solid #000;
  background-color: #fff;
  display: grid;
  align-items: center;
  justify-content: center;
}

.logo-group {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  text-transform: uppercase;
}

.logo-group__title {
  font-size: clamp(3.063rem, 2.063rem + 4.27vw, 4.063rem);
}

.logo-group__subtitle {
  font-size: clamp(0.875rem, 0.313rem + 2.4vw, 1.438rem);
}

.card {
  display: grid;
  max-inline-size: 696px;
  outline: 2px solid #000;
  background-color: #fff;
  margin-bottom: 50px;
}

.card__container-image {
  outline: 2px solid #000;
  max-block-size: 696px;
}

.card__image {
  min-block-size: 696px;
  width: 696px;
  object-fit: cover;
  object-position: right;
  position: relative;
}

@supports (text-stroke: 1px #fff) {
  .watermark-html::before {
    text-stroke: 1px #fff;
  }
}

.watermark-html::before {
  content: "</html>";
  font-family: "Press Start 2P", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px #fff;
  display: grid;
  justify-content: end;
  position: relative;
  block-size: 0;
  right: 25px;
  top: 27px;
  z-index: 2;
}

.watermark-css::before {
  content: "<css>";
  font-family: "Press Start 2P", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px #fff;
  display: grid;
  justify-content: end;
  position: relative;
  block-size: 0;
  right: 25px;
  top: 27px;
  z-index: 2;
}

.watermark-desigions::before {
  content: "<desigions>";
  font-family: "Press Start 2P", sans-serif;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px #fff;
  display: grid;
  justify-content: end;
  position: relative;
  block-size: 0;
  right: 25px;
  top: 27px;
  z-index: 2;
}

.watermark-care::before {
  content: "care";
  font-family: "Press Start 2P", sans-serif;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px #fff;
  display: grid;
  justify-content: end;
  position: relative;
  block-size: 0;
  right: 25px;
  top: 27px;
  z-index: 2;
}

.watermark-support::before {
  content: "<support>";
  font-family: "Press Start 2P", sans-serif;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px #fff;
  display: grid;
  justify-content: end;
  position: relative;
  block-size: 0;
  right: 25px;
  top: 27px;
  z-index: 2;
}

.watermark-lifes-style-none::before {
  content: "<lifes-style: none;>";
  font-family: "Press Start 2P", sans-serif;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px #fff;
  display: grid;
  justify-content: end;
  position: relative;
  block-size: 0;
  right: 25px;
  top: 27px;
  z-index: 2;
}

.watermark-experience::before {
  content: "<experience>";
  font-family: "Press Start 2P", sans-serif;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px #fff;
  display: grid;
  justify-content: end;
  position: relative;
  block-size: 0;
  right: 25px;
  top: 27px;
  z-index: 2;
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  min-block-size: 33px;
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0%;
}

.card__article {
  margin: 25px;
  display: grid;
  gap: 27px;
}

.card__container-like-button {
  display: flex;
  justify-content: end;
  margin-bottom: 25px;
  margin-right: 25px;
  background-color: #fff;
}

.card__icon-button {
  display: flex;
  margin-right: 6px;
  align-items: center;
}

.card__like-button {
  border: 2px solid #000;
  inline-size: 130px;
  block-size: 38px;
  transition: box-shadow 0.3s ease;
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 #000;
}

.card__like-button:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.button__text {
  font-family: "Press Start 2P", sans-serif;
  font-size: 14px;
}

.like-icon .sparks {
  fill: var(--sparks-color, #ff0000);
  opacity: 0;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: black;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--main-body-color-hover, black);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animated-fill-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animated-fill-color, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animated-fill-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animated-fill-color, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animated-fill-color, #ff0000);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: scale-heart 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: animated-sparks 0.3s 0.3s ease-in;
}

.save-to-memory__container {
  font-family: "Press Start 2P", sans-serif;
  font-size: 14px;
  margin: 50px auto;
  text-align: center;
}

.save-to-memory__button {
  border: 2px solid #000;
  min-block-size: 51px;
  transition: box-shadow 0.3s ease;
  background-color: white;
}

.save-to-memory__content {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin: 17px 20px;
  flex-wrap: nowrap;
}

.save-to-memory__floppy {
  inline-size: 21px;
  block-size: 21px;
  fill: #000;
}

.save-to-memory__button:hover .save-to-memory__floppy {
  fill: #fff;
}

.save-to-memory__button:focus {
  outline: none;
  box-shadow: 2px 2px 0 #000;
}

.save-to-memory__button:hover {
  color: #fff;
  cursor: pointer;
  background-color: #000;
}

.save-to-memory__button::after {
  content: "";
  position: relative;
  width: 100%;
  top: -12px;
  display: flex;
  z-index: 2;
  background-color: #fff;
}

.save-to-memory__button::before:hover {
  z-index: 2;
  background-color: #000;
}

.popup[open] {
  font-family: "Press Start 2P";
  display: grid;
  grid-template-rows: 1fr min-content;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
  max-inline-size: 353px;
  min-block-size: 191px;
}

.popup[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.popup__content {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 20px;
  align-items: center;
}

.popup__close-button {
  border: 2px solid #000;
  min-block-size: 38px;
  transition: box-shadow 0.3s ease;
}

.popup__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.popup__floppy {
  width: 39px;
  height: 39px;
}

.popup__close-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 #000;
}

.popup__close-button:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.grayscale {
  filter: grayscale(0.7);
}

.saturate {
  filter: saturate(300%);
}

.hue {
  filter: hue-rotate(40deg);
}

.invert {
  filter: invert(1);
}

.sepia {
  filter: sepia(1);
}

.blur {
  filter: blur(15px);
}

.mix-filter {
  filter: blur(1px) hue-rotate(64deg) invert(0.3) saturate(1.4);
}

@media (width <= 375px) {

}
